input[type="checkbox"] {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none; /* Aparência padrão do checkbox é anulada */
  background-color: #c6c6c6; /* cor de fundo */
  outline: none; /* sem borda externa */
  border-radius: 20px; /* arrendodamento dos cantos */
  box-shadow: inset 0 0 5px rgba(85, 85, 85, 0.5); /* sombra interna */
  transition: .2s; /* tempo de transição que vai ocorrer com a cor de fundo e com a posção da bolinha*/
  cursor: pointer;/* estabelecer que o mouse vai ter uma aparência como se fosse clicar em um botão */
}

input:checked[type="checkbox"] {
  background-color: #28a745;/* cor de fundo que vai ser aplicada quando o checkbox tiver uma alteração para checked */
}
/* O seletor :before pode criar objetos antes do elemento principal, no caso cria a bolinha do botão  */
input[type="checkbox"]:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 0;
  left: 0;
  background: #ffffff;
  transform: scale(1.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: .2s;
}

input:checked[type="checkbox"]:before {
  left: 20px;
}